* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  color: whitesmoke;
}

p,
form,
ul,
ol,
form {
  font-family: "Open Sans";
  color: whitesmoke;
}

/*Header*/

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}


/*hero-style*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url(/assets/images/hero-img.jpg);
  background-size: cover;
  height: 100vh;
  padding: 20px;
}

.hero h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
  margin-left: 300px;
}

.hero h2 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.609);
  margin-bottom: 10px;
  margin-left: 300px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.507);
  margin-left: 300px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end) 1
}

.hero a {
  padding: 5px;
}

.hero .contact-links {
  margin-left: 300px;
}

.hero a:hover img {
  scale: 1.1;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}


/*estilo-de-contactos*/


.contact-links {
  display: flex;
  margin-top: 10px;
}


a img {
  height: 30px;
  width: 30px;
}

/*estilos-about-me*/

.sobre-mi h1 {
  margin-bottom: 40px;
  color: whitesmoke;
}

.sobre-mi {
  background-image: url(/assets/images/space-background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.sobre-mi-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 10px;
}

.cart {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.137);
  box-shadow: 4px 6px 9px -3px rgba(128, 128, 128, 0.137);
}

.cart h3 {
  color: whitesmoke;
  text-align: center;
}


.cart p,
li {
  color: rgba(245, 245, 245, 0.523);
  text-align: center;
}

/* estilos proyectos y trabajos */

.proyectos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url(/assets/images/space-background.jpg);
}

.proyectos h1 {
  margin-bottom: 40px;
  color: whitesmoke;
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 12px;
  padding: 40px;
}

.proyecto {
  background-color: rgba(128, 128, 128, 0.137);
  box-shadow: 4px 6px 9px -3px rgba(128, 128, 128, 0.137);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.proyecto a {
  white-space: nowrap;
}

.proyecto a img {
  height: 200px;
  width: 400px;
  filter: brightness(0.5);
}

.proyecto a:hover img {
  scale: 1.02;
  filter: brightness(1);
}

/* estilos seccion de habilidades */

.habilidades {
  background-image: url(/assets/images/space-background.jpg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.habilidades h1 {
  margin-top: 70px;
  color: whitesmoke;
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 12px;
  padding: 40px;
}

.habilidades p {
  color: whitesmoke;
}


.habilidades-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 10px;
  margin-left: 130px;
}

.progreso-cont {
  background-color: rgba(128, 128, 128, 0.281);
  width: 100%;
  height: 20px;
  border-radius: 12px;
}

.progreso-html {
  background-color: orangered;
  height: 100%;
  border-radius: 12px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 10px;
}

.progreso-css {
  background-color: purple;
  height: 100%;
  border-radius: 12px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 10px;
}

.progreso-js {
  background-color: rgba(128, 128, 128, 0.281);
  height: 100%;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 10px;
}

.progreso-python {
  background-color: rgba(128, 128, 128, 0.281);
  height: 100%;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 10px;
}

.habilidad {
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 12px;
  padding: 40px;
}

/* estilos seccion de contacto */

.contact-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url(/assets/images/space-background.jpg);
}

.contact-img {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100%;
  width: 100%;
}

.contact-form h4 {
  font-size: 30px;
  text-align: center;
  color: whitesmoke
}

.contact-form h5 {
  text-align: center;
  margin-bottom: 50px;
  color: whitesmoke;
}

input {
  border: 2px solid rgb(65, 64, 64);
  background-color: transparent;
  color: whitesmoke;
}

.nombre-apellido-cont {
  margin-bottom: 20px;
}

.nombre-apellido-cont p {
  margin-bottom: 5px;
}

.nombre-apellido-cont input {
  height: 50px;
}

.email-cont {
  margin-bottom: 20px;
}

.email-cont p {
  margin-bottom: 0;
}

.email {
  width: 100%;
  height: 50px;
}

.text-area-cont {
  margin-bottom: 20px;
}

button {
  color: whitesmoke;
  border: none;
  background-color: rgba(128, 128, 128, 0.281);
  padding: 10px 20px;
}

textarea {
  border: 2px solid rgb(65, 64, 64);
  color: whitesmoke;
  background-color: transparent;
  width: 100%;
  height: 100px;
  resize: none !important;
}

@media (max-width: 880px) {

  .hero h1 {
    margin-left: 100px;
  }

  .hero h2 {
    margin-left: 100px;
  }

  .hero p {
    margin-left: 100px;
  }

  .proyecto a img {
    height: 150px;
    width: 250px;
  }

  .proyectos h1 {
    color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 12px;
    padding: 40px;
    font-size: 30px;
  }

  .habilidades-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    margin-left: 130px;
  }

  .contact-img {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 60%;
    padding: 50px;
  }
}